@import "../../asstes/scss/helpers/variables";
@import "../../asstes/scss/helpers/mixins";

.detail-table-dp {
  table {
    table-layout: auto !important;
  }
}

// filter sidebar
.filter-sidebar {
  background: #fff;
  box-shadow: -2px 0px 6px #0000001a;
  position: fixed;
  width: 300px !important;
  top: 66px;
  right: -310px;
  bottom: 0;
  z-index: 10;
  padding: 25px 15px;
  transition: 0.3s ease all;
  height: auto !important;
  overflow-y: auto;
  &.open {
    transition: 0.3s ease all;
    right: 0;
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    color: #0c1015;
    border-bottom: 1px solid #efefef;
    margin: 0 -15px 0;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  .actions {
    position: absolute;
    right: 13px;
    top: 27px;

    svg {
      cursor: pointer;
      color: #9da3b0;
      font-size: 18px;
      &:hover {
        color: #0c1015;
      }
      &:nth-child(2) {
        margin-left: 10px;
      }
    }
  }
  .filtr-side-main {
    border-bottom: 1px solid #efefef;
  }
  .filtr-side-main {
    .MuiCheckbox-colorSecondary.Mui-checked {
      color: #6fe2b4;
    }
    .MuiTypography-body1 {
      color: #5f646b;
      font-size: 14px;
    }
    .MuiFormLabel-root.Mui-focused {
      color: #0c1015;
    }
    label {
      &:hover {
        span {
          color: #0c1015;
          font-weight: 500;
          svg {
            color: #0ae2b3;
          }
        }
      }
    }
  }
}
.worker-search {
  background-color: #fff;
  padding: 15px;
  float: left;
  width: 100%;
  .seach-form {
    border-radius: 20px;
    display: inline-block;
    img {
      margin-top: 5px;
    }
  }
  .worker-filter {
    float: right;
    color: #67d091;
  }
}
.worker-tabs {
  float: left;
  position: relative;
  padding-right: 30px;

  margin-top: 20px;
  margin-bottom: 20px;

  &:nth-child(1) {
    padding-left: 0;
  }

  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  .add-new {
    cursor: pointer;
    font-size: 14px;
    padding-top: 25px;

    svg {
      border: 1px solid $alto;
      border-radius: 4px;
      color: $steel;
      margin-right: 2px;
    }

    &:hover {
      svg {
        background: $steel;
        color: $white;
        border-color: $steel;
      }
    }
  }

  ul.navigation {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        padding: 8px 50px;
        // border-radius: 5px;
        color: rgba($color: #041242, $alpha: 0.3);
        display: block;
        position: relative;
        background-color: rgba($color: #041242, $alpha: 0.1);
        margin-right: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #d0d0d0;

        label {
          margin: 0 10px;
          z-index: 1;
          cursor: pointer;
        }
        svg {
          color: #67d091;
        }
        span {
          background-color: #67d091;
          color: #ffffff;
          padding: 3px 10px;
          font-size: 12px;
          border-radius: 20px;
        }

        &:hover,
        &.active {
          background-color: #fff;
          color: rgba($color: #041242, $alpha: 0.4);

          &:before {
          }
        }
      }
    }
  }
}

.item {
  float: left;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 50px;
  margin-top: 0px;

  &:nth-child(1) {
    padding-left: 0;
  }

  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  .add-new {
    cursor: pointer;
    font-size: 14px;
    padding-top: 25px;

    svg {
      border: 1px solid $alto;
      border-radius: 4px;
      color: $steel;
      margin-right: 2px;
    }

    &:hover {
      svg {
        background: $steel;
        color: $white;
        border-color: $steel;
      }
    }
  }

  ul.navigation {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        padding: 8px 15px;
        border-radius: 5px;
        text-decoration: none;
        color: rgba($color: #041242, $alpha: 0.3);
        display: block;
        position: relative;
        background-color: rgba($color: #041242, $alpha: 0.1);
        margin-right: 10px;
        margin-left: 0px;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
          0px 2px 2px 0px rgba(0, 0, 0, 0.14),
          0px 1px 5px 0px rgba(0, 0, 0, 0.12);

        label {
          margin: 0;
          z-index: 1;
          cursor: pointer;
        }

        &:hover,
        &.active {
          background-color: rgba($color: #041242, $alpha: 0.4);
          color: #fff;
          &:before {
          }
        }
      }
    }
  }

  .date-manager {
    color: rgba($color: #041242, $alpha: 1);
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    line-height: 25px;
    box-shadow: 0px 1px 2px #1c9a7e33;
    svg {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      color: rgba($color: #041242, $alpha: 0.3);
    }
    span {
      font-weight: normal;

      &.number {
        color: $success;
        margin-right: 5px;
        margin-left: 5px;
        cursor: pointer;

        .date-range-picker {
          display: none;
          position: absolute;
          box-shadow: 0px 0px 3px #e5e2e2;
          z-index: 1;
        }

        &:hover .date-range-picker {
          display: block;
        }
      }
      &.out-of {
      }
    }
    .progress {
      display: inline-block;
      vertical-align: middle;
      width: 300px;
      height: 3px;
      margin-left: 15px;

      .rate {
        display: block;
        width: 0%;
        background: $success;
        height: 3px;

        &.per-10 {
          width: 10%;
        }
        &.per-20 {
          width: 20%;
        }
        &.per-30 {
          width: 30%;
        }
        &.per-40 {
          width: 40%;
        }
        &.per-50 {
          width: 50%;
        }
        &.per-60 {
          width: 60%;
        }
        &.per-70 {
          width: 70%;
        }
        &.per-80 {
          width: 80%;
        }
        &.per-90 {
          width: 90%;
        }
        &.per-100 {
          width: 100%;
        }
      }
    }
    .progress-month {
      display: inline-block;

      cursor: pointer;
      .date-picker {
        position: absolute;
        display: none;
        box-shadow: 0px 2px 6px #0000001a;
        border-radius: 10px;
        background-color: #fff;
        padding: 10px;
        z-index: 1;
        right: 0;
        .rdrStaticRange {
          border: none;
          margin-right: 10px;
          border-left: 5px solid transparent;
          &:hover,
          &:focus {
            background-color: #f7faf9;
            margin-right: 10px;
            border-radius: 5px;
            color: #0c1015 !important;
            border-left: 5px solid #0ae2b3 !important;
            .rdrStaticRangeLabel {
              background-color: #f7faf9;
            }
          }
        }
        .rdrStaticRangeSelected {
          background-color: #f7faf9;
          margin-right: 10px;
          border-radius: 5px;
          color: #0c1015 !important;
          border-left: 5px solid #0ae2b3 !important;
        }
        .rdrDateDisplayWrapper {
          background: none;
          .rdrDateDisplayItem input {
            background: #f8fafa;
          }
          .rdrDateDisplayItem {
            background: #f8fafa;
          }
        }
        .rdrMonth {
          .rdrStartEdge {
            color: #0ae2b3 !important;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
          .rdrEndEdge {
            color: #0ae2b3 !important;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
          .rdrDay {
            &:hover {
              border: none !important;
            }
          }
          .rdrInRange {
            color: rgba($color: #0ae2b3, $alpha: 0.06) !important;
          }
          .rdrDayNumber {
            span {
              color: #222222;
            }
          }
          .rdrDayHovered {
            border: none !important;
          }
        }
      }
      .rdrMonthsHorizontal {
        .rdrMonthName {
          text-align: center;
          color: #0c1015;
          font-size: 14px;
        }
        .rdrWeekDay {
          color: #9da3b0;
          font-size: 15px;
          font-weight: 600;
        }
      }
      &:hover {
        .date-picker {
          display: block;
        }
      }
    }
  }

  .last-update {
    padding-top: 26px;

    .time {
      border-left: 2px solid $success;
      display: inline-block;
      vertical-align: middle;
      line-height: 15px;
      margin-left: 8px;
      padding-left: 8px;
    }
  }
}

.filter-hamburger {
  display: inline-block;
  cursor: pointer;
  color: #9da3b0;
  background-color: #fff;
  padding: 5px 8px;
  border-radius: 6px;
  line-height: 25px;
  box-shadow: 0px 1px 2px #1c9a7e33;
  &:hover {
    color: #0c1015;
  }
}

.claim-detail-table {
  padding: 15px;
  table {
    tbody {
      tr:nth-child(3) {
        td:nth-child(2) {
          background-color: #041242;
          color: #fff;
          display: inline-block;
          padding: 4px 15px;
          border-radius: 10px;
          font-weight: 400;
          font-size: 13px;
        }
      }
      tr {
        td {
          border: none;
        }
        td:nth-child(odd) {
          font-size: 13px;
          color: rgba($color: #041242, $alpha: 0.4);
        }
        td:nth-child(even) {
          font-size: 14px;
          color: rgba($color: #041242, $alpha: 0.7);
          font-weight: 600;
        }
      }
    }
  }
}
// service line
.detail-table-worker {
  background: none !important;
  box-shadow: none !important;
}
.detail-table-worker table thead {
  background-color: #dde1e9;
}
.detail-table-worker table thead tr th {
  color: rgba($color: #041242, $alpha: 0.6);
  font-weight: 600;
  font-size: 14px;
}

.detail-table-worker table tbody tr {
  background-color: #fff;
  // border-top: 10px solid #f6f8fc;
  // border-bottom: 10px solid #f6f8fc;
}
.detail-table-worker table tbody tr td table tbody tr,
.detail-table-worker table tbody tr td table thead tr {
  border-top: none;
  border-bottom: none;
}
.detail-table-worker table tbody tr td,
.detail-table-worker table tbody tr th {
  color: rgba($color: #041242, $alpha: 0.65) !important;
  font-size: 13px;
}
.detail-table-worker table tbody tr td button {
  background-color: rgba($color: #041242, $alpha: 0.1);
  color: #67d091;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  svg {
    width: 17px;
    height: 17px;
  }
  &:hover,
  &:focus {
    background-color: #67d091;
    color: #ffffff;
  }
}
.detail-table-worker table tbody tr td table tbody tr td,
.detail-table-worker table tbody tr td table tbody tr th {
  border-bottom: none;
}
.worker-pag {
  float: right;
}
.worker-pag button.MuiPaginationItem-page.Mui-selected {
  background-color: #67d091;
  color: #ffffff;
  border-radius: 5px;
}

// .......
// .detail-table-worker .MuiPaper-root
// {
//   background: none !important;
// }
// .detail-table-worker .MuiPaper-elevation2
// {
//   box-shadow: none;
// }
// .detail-table-worker table thead tr th{
//   background: none !important;
//   padding: 5px !important;
//   font-weight: 600;
//   font-size: 14px;
//   color: #041242;
//   opacity: 0.8;
// }
// .detail-table-worker table thead tr th .MuiTableSortLabel-root:hover,
// .detail-table-worker table thead tr th .MuiTableSortLabel-root:hover .material-icons{
//   color: #041242;
//   opacity: 1;
// }
// .detail-table-worker table
// {
//   table-layout: fixed !important;
// }
// .detail-table-worker table thead
// {
//   background-color: rgba($color: #041242, $alpha: 0.16);
//   border-radius: 10px;
// }
// .detail-table-worker table tbody tr
// {
//   background-color: #fff;
//   border-top: 15px solid #e5e5e5;
//   border-bottom: 15px solid #e5e5e5;
// }
// .detail-table-worker table tbody tr td{
//   padding: 10px 0;
//   color: rgba($color: #041242, $alpha: 0.64) !important;
// }
// .detail-table-worker table tbody tr td:nth-child(4)
// {
//   font-weight: 600;
// }
// .detail-table-worker table tbody tr td.MuiIconButton-root
// {
//   color: rgba($color: #041242, $alpha: 0.58) !important;
//   border-radius: 15px !important;

// }
