@import "../../asstes/scss/helpers/variables";
@import "../../asstes/scss/helpers/mixins";
.detail-table-dp {
  table {
    table-layout: auto !important;
  }
}
.item {
  float: left;
  position: relative;
  padding-right: 30px;
  // padding-left: 30px;
  min-height: 74px;
  margin-top: 20px;

  &:nth-child(1) {
    padding-left: 0;
  }

  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  .add-new {
    cursor: pointer;
    font-size: 14px;
    padding-top: 25px;

    svg {
      border: 1px solid $alto;
      border-radius: 4px;
      color: $steel;
      margin-right: 2px;
    }

    &:hover {
      svg {
        background: $steel;
        color: $white;
        border-color: $steel;
      }
    }
  }

  ul.navigation {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        padding: 8px 15px;
        border-radius: 5px;
        color: rgba($color: #041242, $alpha: 0.3);
        display: block;
        position: relative;
        background-color: rgba($color: #041242, $alpha: 0.1);
        margin-right: 20px;

        label {
          margin: 0;
          z-index: 1;
          cursor: pointer;
        }

        &:hover,
        &.active {
          background-color: rgba($color: #041242, $alpha: 0.4);
          color: #fff;
          &:before {
          }
        }
      }
    }
  }
}
.claim-detail-table {
  padding: 15px;
  table {
    tbody {
      tr:nth-child(3) {
        td:nth-child(2) {
          background-color: #041242;
          color: #fff;
          display: inline-block;
          padding: 4px 15px;
          border-radius: 10px;
          font-weight: 400;
          font-size: 13px;
        }
      }
      tr {
        td {
          border: none;
        }
        td:nth-child(odd) {
          font-size: 13px;
          color: rgba($color: #041242, $alpha: 0.4);
        }
        td:nth-child(even) {
          font-size: 14px;
          color: rgba($color: #041242, $alpha: 0.7);
          font-weight: 600;
        }
      }
    }
  }
}
// service line
.detail-table-service-line {
  background: none !important;
  box-shadow: none !important;
}
.detail-table-service-line table thead {
  background-color: rgba($color: #041242, $alpha: 0.16);
}
.detail-table-service-line table thead tr th {
  color: rgba($color: #041242, $alpha: 0.6);
  font-weight: 600;
  font-size: 14px;
}

.detail-table-service-line table tbody tr {
  background-color: #fff;
  border-top: 10px solid #f6f8fc;
  border-bottom: 10px solid #f6f8fc;
}
.detail-table-service-line table tbody tr td table tbody tr,
.detail-table-service-line table tbody tr td table thead tr {
  border-top: none;
  border-bottom: none;
}
.detail-table-service-line table tbody tr td,
.detail-table-service-line table tbody tr th {
  color: rgba($color: #041242, $alpha: 0.65) !important;
  font-size: 13px;
}
.detail-table-service-line table tbody tr td button {
  background-color: rgba($color: #041242, $alpha: 0.1);
  color: rgba($color: #3576c7, $alpha: 0.6);
  border-radius: 10px;
}
.detail-table-service-line table tbody tr td table tbody tr td,
.detail-table-service-line table tbody tr td table tbody tr th {
  border-bottom: none;
}
// .......
// .detail-table-service-line .MuiPaper-root
// {
//   background: none !important;
// }
// .detail-table-service-line .MuiPaper-elevation2
// {
//   box-shadow: none;
// }
// .detail-table-service-line table thead tr th{
//   background: none !important;
//   padding: 5px !important;
//   font-weight: 600;
//   font-size: 14px;
//   color: #041242;
//   opacity: 0.8;
// }
// .detail-table-service-line table thead tr th .MuiTableSortLabel-root:hover,
// .detail-table-service-line table thead tr th .MuiTableSortLabel-root:hover .material-icons{
//   color: #041242;
//   opacity: 1;
// }
// .detail-table-service-line table
// {
//   table-layout: fixed !important;
// }
// .detail-table-service-line table thead
// {
//   background-color: rgba($color: #041242, $alpha: 0.16);
//   border-radius: 10px;
// }
// .detail-table-service-line table tbody tr
// {
//   background-color: #fff;
//   border-top: 15px solid #e5e5e5;
//   border-bottom: 15px solid #e5e5e5;
// }
// .detail-table-service-line table tbody tr td{
//   padding: 10px 0;
//   color: rgba($color: #041242, $alpha: 0.64) !important;
// }
// .detail-table-service-line table tbody tr td:nth-child(4)
// {
//   font-weight: 600;
// }
// .detail-table-service-line table tbody tr td.MuiIconButton-root
// {
//   color: rgba($color: #041242, $alpha: 0.58) !important;
//   border-radius: 15px !important;

// }
