
.dr-upload-main
{
  margin-top: 30px;
}
.upload-input
{
  display: none;
}
.upload-input-icon .MuiSvgIcon-root
{
  font-size: 40px;
  color:#0ae2b3;
}
.dr-service-inner
{
  background-color: rgba($color: #041242, $alpha: 0.04);
  width: 100%;
  min-height: 200px;
  padding: 20px;
  border-radius: 10px;
}

