$primary: #242424;
$white: #ffffff;
$alto: #cccccc;
$blue: #2a7a74;
$light-grey: #f7f7f7;
$grey: rgba(255, 255, 255, 0.05);
$steel: #0AACA0;
$prussian: #057f76;
$header-color: #057f76;
$danger: #f44336;
$danger-2: #990201;
$orange: rgb(255, 111, 0);
$success: rgb(9, 210, 97);
$green-light : #34f6cc;
$purple: rgb(82, 94, 138);
$left-menu-background: #057f76;
$left-menu-selection: #04544e;
$fade : #445a63;
$anchor: #99abb4;
$blacktext: #0a0a0a;